@font-face {
  font-family: "R_s";
  src: url("../fonts/Austin-Light-Web.woff2") format("woff2");
}

@font-face {
  font-family: F_g;
  src: url("../fonts/MonumentGrotesk-Regular.woff2");
}

:root {
  --bg-color: #080808;
  --text-color: #efebe7;
  --title-main: 7vw;
}

/*===========================RESET STYLES =====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--text-color);
}

button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

/*======================END RESET STYLES=================================*/

html,
body {
  font-family: "F_g", Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*=================loading container ==================*/
/* Loading Screen Styling */

.home-select {
  pointer-events: none;
  cursor: pointer;
}

.container {
  padding: 0 1.5rem 0 1.5rem;
}

/*=============================HEADER=================================*/
.co-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 100000000000000;
  opacity: 0;
}

.list-nav {
  display: flex;
  gap: 6px;
}

.list-nav li a {
  font-size: 12px;
  text-transform: uppercase;
}

.h-link {
  position: relative;
  display: inline-block;
}

.h-link:hover {
  text-decoration: none;
}
.h-link:before,
a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.5px;
  bottom: 0;
  background: white;
}
.h-link:before {
  left: 0;
}
.h-link:after {
  right: 0;
  background: white;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.h-link:hover:before {
  background: white;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.h-link:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/*=======================MAIN HOME SECTION=================================*/
canvas {
  position: fixed;
  z-index: 0;
  pointer-events: none;
}
/*section {
  padding: 10vh 0;
  height: 100vh;
  width: 100%;
}*/

.box-flex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-section {
  /* width: 100%;
  height: 100%;*/
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 6rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%; */
  display: flex;
  padding-top: 10rem;
}

.site-name {
  text-transform: uppercase;
  font-size: 12px;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.right {
  /* display: flex;
  justify-content: end;
  align-items: end;*/
}

.info-little {
  font-size: 12px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  opacity: 0;
}

.txt {
  grid-column: 2/5;
}

.txt2 {
  grid-column: 6/8;
  font-size: 12px;
  opacity: 0.8;
}

.box-img {
  background-image: url("../images/main-img.jpg");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  border-radius: 5px;
  position: relative;
  width: 250px;
  height: 300px;
  opacity: 0.2;
}

.co-links {
  /* flex-direction: column;
  width: 100%;
  height: 100%;
   justify-content: space-between;s

.co-links-projects li {
  position: relative;
  /*  cursor: pointer;*/
  font-size: var(--title-main);
  display: flex;
  gap: 2rem;
}

.co-links-projects li {
  overflow: hidden;
}

.co-links-projects li .link-project {
  /* display: inline-block;*/
  /* border-bottom: 1px solid var(--text-color);*/
  mix-blend-mode: difference;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
  font-family: R_s;
  color: var(--text-color);
  display: flex;
  align-items: end;
  text-transform: uppercase;
  display: inline-block;
  transform: translateY(100%);
}

.num {
  font-family: F_g;
  font-size: 10px;
  opacity: 0.5;
  display: inline-block;
}

.project-image {
  opacity: 0%;
  position: absolute;
  top: -100%;
  pointer-events: none;
  user-select: none;
}

/*=================FOOTER HERO ================*/
.footer-hero {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: end;
  font-size: 12px;
  padding: 0 1.5rem 1.5rem 1.5rem;
  gap: 1rem;
}

.social-media-hero {
  display: flex;
  gap: 4px;
}

@media (max-width: 990px) {
  .co-links {
    font-size: 60px;
  }

  .txt {
    grid-column: 1/5;
  }

  .txt2 {
    grid-column: 7/10;
  }

  .box-img {
    width: 200px;
    height: 250px;
  }
}

@media (max-width: 835px) {
  .container {
    padding: 0 10px 0 10px;
  }

  .footer-hero {
    padding: 10px;
  }

  .co-header {
    padding-top: 10px;
  }

  .left {
    justify-content: start;
    gap: 1rem;
  }

  .projects-section {

    grid-template-columns: 100%;
    padding-bottom: 3rem;
  }
  .projects {
    padding-top: 5rem;
    position: fixed;
    top: 0;
    left: 10px;
    width: 100%;
    height: 100vh;
  }

  .co-links {
    padding-top: 5vw;
  }

  .co-links-projects {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
  }

  .link-project {
    font-size: 50px;
  }

  .info-little {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .txt2 {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    display: none;
  }

  .right {
    display: none;
  }

  .box-img {
    display: none;
  }
  .co-links {
    flex-direction: column;
    gap: 0;
  }

  .txt {
    padding-top: 0rem;
  }
}

/*================================PAGES PROJECT COMPONENT ==================================*/
.smooth-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.container-smooth {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  will-change: transform;
}

.co-page-component {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project-view {
  width: 45vw;
  height: 30vw;
  background-image: url("https://jesperlandberg.dev/imager/images/214/gc0_6c0c164bd2b597ee32b68b8b5755bd2e.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0.6;
}

.title-project {
  position: absolute;
  font-size: 15vw;
  font-family: R_s;
  overflow: hidden;
  text-transform: uppercase;
}

.title-project span {
  display: inline-block;
  transform: translateY(100%);
}

.info-project {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.images-galery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box-image1 {
  display: flex;
  gap: 5rem;
}

.co-img-project {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.co-img-project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image3 {
  width: 100%;
  display: flex;
  justify-content: start;
}

.box-image2 {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.box-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-next {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.next-project {
  font-size: var(--title-main);
  font-family: R_s;
  text-transform: uppercase;
}

.next-txt {
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 835px) {
  .box-image1 {
    width: 100%;
    flex-direction: column-reverse;
  }
  .co-img-project {
    width: 100%;
  }

  .info-project {
    flex-direction: column;
    gap: 30px;
  }

  .image2,
  .image3 {
    justify-content: center;
  }

  .box-image2 {
    height: auto;
  }

  .box-image2 img {
    object-fit: contain;
  }

  .images-galery {
    gap: 10px;
  }

  .next-project {
    font-size: 60px;
  }
}
